* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #fff;
}

/* NAVBAR */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #111827;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.hero h1 {
    font-size: 50px;
    color: #38bdf8;
}

.hero p {
    margin: 20px 0;
    color: #cbd5e1;
}

.primary-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background: #38bdf8;
    color: #0f172a;
    cursor: pointer;
    margin: 10px;
}

.secondary-btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #38bdf8;
    background: transparent;
    color: #38bdf8;
    cursor: pointer;
}

/* SECTIONS */

section {
    padding: 100px 10%;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

/* SKILLS */

.progress-bar {
    background: #1e293b;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #38bdf8;
}

/* PROJECTS */

.project-grid {
    display: grid;
    gap: 20px;
}

.project-item {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.project-link {
    color: #38bdf8;
}
